<p class="text-right"><b>Descarregar CSV Rànquings:</b>&nbsp;<a href="/rest_reporting/reports/twitter/csv/json/rankings/yearmonth/{{yearmonth}}/csv">
  <img src="/img/csv_icon.png" width="40" height="40"></a><br><br>
  <b>CSVs termes:</b>&nbsp;
  Mallorca:&nbsp;<a href="/rest_reporting/reports/twitter/wordcounts/brand/mallorca/yearmonth/{{yearmonth}}/csv">
  <img src="/img/csv_icon.png" width="20" height="20"></a>&nbsp;&nbsp;
  Menorca:&nbsp;<a href="/rest_reporting/reports/twitter/wordcounts/brand/menorca/yearmonth/{{yearmonth}}/csv">
  <img src="/img/csv_icon.png" width="20" height="20"></a>&nbsp;&nbsp;
  Ibiza:&nbsp;<a href="/rest_reporting/reports/twitter/wordcounts/brand/ibiza/yearmonth/{{yearmonth}}/csv">
  <img src="/img/csv_icon.png" width="20" height="20"></a>&nbsp;&nbsp;
  Formentera:&nbsp;<a href="/rest_reporting/reports/twitter/wordcounts/brand/formentera/yearmonth/{{yearmonth}}/csv">
  <img src="/img/csv_icon.png" width="20" height="20"></a>&nbsp;&nbsp;
</p>