<p>Trobats <strong>{{total_reports}}</strong> reports de <strong>{{source}}</strong>.</p>
<ul class="list-group">
  {{#each reports}}
    <li class="list-group-item">

      <table border="0"><tr>

        <td><span class="label label-default" style="font-size: 14px">{{month}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

        {{#if zip_status.is_ready_to_generate}}
          <td>
            {{{zip_html}}}
          </td>
        {{/if}}

        {{#if zip_status.is_generating}}
        <td><span style="color: #00CC00; font-weight: bold;">Generant ZIP...</span>&nbsp;&nbsp;&nbsp;<img src="/img/loading_icon.gif">&nbsp;&nbsp;&nbsp;(complet: <span style="color: #00CC00; font-weight: bold;">{{zip_status.percent_completion}}%</span>)</td>
        {{/if}}

      </tr></table>

    </li>
  {{/each}}
</ul>
